.testHeader {
    background: black  left top;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    margin: 0 auto 18px;
    overflow: hidden;
    text-align: center;
    word-spacing: 90px;
    font-size: xx-large;
    font-weight: 600;
    color: white;
}