.testHeader {
    background: black  left top;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0 auto 18px;
    overflow: hidden;
    text-align: center;
    word-spacing: 10px;
    font-size: xlarge;
    font-weight: 500;
    color: white;
    position: inherit;
    /* top: 0;
    left: 0; */
    width: 100%;
    /* height: 5rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

}

.shoppingCart{
    display: inline-block;
    font-size: 20px;
    color: var(--lightDark);
    margin-right: 15px;
    text-align:right ;
}