.cart-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    /* margin: auto;
 width: 90%;
 height: 30%;
 display: flex;
 justify-content: space-between;
 align-items: center; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 4px solid #8a2b06; */
    /* padding: 1px 2px;
    margin: 1rem;
    max-height: 6rem ;
    overflow: scroll; */ 
    
  /* } */
  .image-box{
    width: 15%;
    text-align: center;
   }

   .title{
    padding-top: 3px;
    line-height: 8px;
    font-size: 10px;
    font-family: ‘Open Sans’;
    font-weight: 500;
    color: #202020;
    text-align: center;
   }
  
  /* .cart-item h2 {
    margin: 0 0 0.5rem 0;
    color: #363636;
  } */
  
  .summary {
    width: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-weight: bold;
    color: #8a2b06;
    
        /* padding-top: 20px;
        font-size: 26px;
        font-family: ‘Open Sans’;
        font-weight: 800;
        color: #202020; */
  }
  
  .amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.15rem 0.15rem;
    border-radius: 2px;
    color: #363636;
  }
  
  .actions {
    display: flex;

    
    flex-direction: column;
  }
  
  @media (min-width: 500px) {
    .actions {
      flex-direction: row;
      
    }
  }
  
  .cart-item button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #8a2b06;
    border: 1px solid #8a2b06;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
  }
  
  .cart-item button:hover,
  .cart-item button:active {
    background-color: #8a2b06;
    color: white;
  }