.content{
    text-align: center;
    width: 1500px;
    margin-left: 0%;

}
.list{
    list-style-type: none;
    
}
.items1{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    border-style:inset ;
    /* display:table; */

}
.image1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9dmg0dIaT7U0ipGO88eOwsakEZ7MZVZnN8g&usqp=CAU") ;
    background-position: 100%;
}
.img{
    
    max-height: 100%;
    display: block;
}
* {
	border: 10%;
	box-sizing:border-box;
	margin: 0;
	padding: 0%;
}

 input {
    margin: 2% ;
	font: 2em Hind, sans-serif;
	line-height: .5em;
}
 input {
	color: #171717;
}
 .search-bar {
	display: flex;
    font-size: large;
}






.items{
    /* font-weight: bold; */
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    border-style:inset ;
    /* display:table; */

}
.items span{
    border-bottom: 5px;
    border-color: black;
}