.h2 {
    background: grey ;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    margin: 0 auto 50px;
    overflow: hidden;
    text-align: center;
    font-size: xxx-large;
    font-weight: 1000;
    color: white;
    position: inherit;
}