.footer {
    background: skyblue  left top;
    height: 117px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    margin: 0 auto 18px;
    overflow: hidden;
    text-align: left;
    word-spacing: normal;
    font-size: medium;
    font-weight: 600;
    color: black;
}
.logo {
text-align: right;
}