.boxfield,
.newsbox {
    display: inline-block;
    vertical-align: text-top;
    margin: 0 auto;
}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 10vh
}