/* .boxfield,
.newsbox {
    display: inline-block;
    vertical-align: text-top;
    margin: 0 auto;
} */
.product{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    /* margin-left: auto; */
    margin-right: auto;
   }